@import url('https://fonts.google.com/specimen/Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    background-color: hsl(30, 38%, 92%);
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f8;
}
.box{
    margin: 300px auto;
    width: 700px;
    display: flex;
}
.left {
    display: flex;
    justify-content:end;
    align-items: center;
    border-radius: 10px 0 0 10px;
    
}
.left img{
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.right{
background-color: hsl(158, 36%, 37%);
    height: 475px;
    width: 50%;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}
.parfum h1{
    margin: 20px 0 0 0;
    font-size: 14px;
    font-family: 'Fraunces', serif;
}
.description{
    font-size: 14px;
    color: #a09d9d;
    margin-top: 10px;
    font-family: 'Montserrat';
}